.el-main {
  padding: 0 !important;
  background-color: #e4e4e4;
}
.bg {
  background-color: #fff;
}
.w-30 {
  width: 300px;
}
.w80 {
  width: 80%;
}
.w85 {
  width: 85%;
}
.w90 {
    width: 90%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w90 {
    width: 95%;
}