.border {
  border: 1px solid #999;
}
.box-title {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    line-height: 50px;
}
.company-heared {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 20px;
    background-color: rgb(8, 189, 189);
  }
  .mar-left {
      margin-left: 5px;
  }
  .text-c {
    text-align: center;
  }
.upload {
    margin: 20px 0;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
  }
.ql-editor {
    min-height: 300px;
  }
.explain {
    font-size: 14px;
    color: #999;
}
.explain-r {
    font-size: 14px;
    color: red;
}
.complaint-heared i {
  margin-right: 15px;
}
.w-20 {
    width: 200px;
}
.w-30 {
    width: 300px;
}
.w-15 {
    width: 150px;
}
.w80 {
    width: 80%;
}
.w90 {
    width: 90%;
}
.w40 {
    width: 40%;
}
.w50 {
    width: 50%;
}
.w60 {
  width: 60%;
}
.w90 {
    width: 95%;
}
.size-r {
    color: red;
}
.bg-w {
    background-color: #fff;
}
.bgcolor {
    background-color: #f4f4f4;
}
.border-r {
    border: 1px solid red;
  }
  .border-b {
    border-bottom: 1px solid #999;
  }
  .flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
